In [10]:
import pandas as pd

In [21]:
input_path = '/Users/nischal/Desktop/NPL/Teamwise polishing/Biratnagar/Biratnagar.csv'
df = pd.read_csv(input_path)

#importing data and initialization in dataframe.

In [22]:
df['did_bat'] = df['balls'].notna().map({True: 'T', False: 'F'})
df['did_bowl'] = df['overs'].notna().map({True: 'T', False: 'F'})
''' Created new column did_bat and did_bowl, respective columns looks for null values in balls and overs column and 
 returns boolean values with T and F'''

' Created new column did_bat and did_bowl, respective columns looks for null values in balls and overs column and \n returns boolean values with T and F'

In [13]:
bat_cols = ['runs', 'balls', 'fours', 'sixes', 'sr']
bowl_cols = ['overs', 'maidens', 'runs_conceded', 'wickets', 'economy', 'wides', 'no_balls']
#Creating lists of column names. Now they represents entire bundle of columns instead of doing one column at a time.

In [23]:
df[bat_cols] = df[bat_cols].fillna(0)
df[bowl_cols] = df[bowl_cols].fillna(0)
#Replaces all null values with 0. (Used 0 because cricket stats has numerical values, so can't use mean or min/max values)

In [15]:
mask_valid_sr = (df['did_bat'] == 'T') & (df['balls'] > 0)
df.loc[mask_valid_sr, 'sr'] = (df.loc[mask_valid_sr, 'runs'] / df.loc[mask_valid_sr, 'balls'] * 100).round(2)
'''Created filter named mask_valid_sr to fetch records of players who actually batted
Also created SR column with formula runs/balls with float value upto 2'''

In [18]:
mask_valid_economy = (df['did_bowl'] == 'T') & (df['overs'] > 0)
df.loc[mask_valid_economy, 'economy'] = (df.loc[mask_valid_economy, 'runs_conceded'] / df.loc[mask_valid_economy, 'overs']).round(2)

In [24]:
output_path = '/Users/nischal/Desktop/NPL/Teamwise polishing/Biratnagar/biratnagar_cleaned.csv'
df.to_csv(output_path, index=False)
#Extraction of tables.

In [20]:
print(f"Cleaned data saved to {output_path}")
#Locating where the file is going to be.

Cleaned data saved to /Users/nischal/Desktop/NPL/Teamwise polishing/Biratnagar/biratnagar_cleaned.csv

So this was for biratnagar...for other 8 teams only name of file was changed as dataset ha